@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* reset */ 
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* Variables */
$primaryColor : #191919;
$textColor : #8c8c8c;
$generalGap : 30px;

/* Mixin */
@mixin baseFont {
    color: $textColor;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.5px;
}
@mixin headingText {
    font-weight: 800;
    color:$primaryColor;
    line-height: 1.2;
}
@mixin thumbnail {
    background:#f8f8f8;
    border-radius:10px;
    padding:30px;

    @media (max-width:500px){
        padding:20px;
    }
}
@mixin linkText{
    color:$primaryColor;
    text-decoration: none;
    font-weight: bold;

    &:hover{
        color: lighten($primaryColor, 15%);
    }
}
@mixin primaryButton{
    display:inline-block;
    background:$primaryColor;
    color:white;
    font-weight: bold;
    padding:10px 20px;
    text-decoration:none;
    border-radius: 5px;
    border:none;
    font-size: 16px;
    
    &:hover{
        background: lighten($primaryColor, 15%);
    }

    &.inverse {
        background:white;
        color:$primaryColor;
        &:hover{
            color:  lighten($primaryColor, 15%);
        }
    }
}
@mixin sectionSpacing{
    margin-bottom:120px;
    @media (max-width:750px){
        margin-bottom:80px;
    }
    @media (max-width:500px){
        margin-bottom:60px;
    }
}


/* Global styles */
html{
    scroll-behavior: smooth;
}
body {
    @include baseFont();
    background-color: white;
    margin: 0;
    padding: 0;
}
.container{
    width:90%;
    max-width:1140px;
    margin: 0 auto;
    overflow: hidden;
}
@media (min-width:1400px){
    .container{
        max-width:1320px;
    }  
}
.cta-button{
    @include primaryButton();
}
.section-heading{
    margin-bottom:40px;
}

/* Typography */
h1{
    @include headingText();
    font-size: 48px;
    letter-spacing: -3px;
}
h2{
    @include headingText();
    font-size: 40px;
    letter-spacing: -2px;
}
h3{
    @include headingText();
    font-size: 32px;
    letter-spacing: -1.5px;
    margin-bottom:20px;
}
p.lead {
    font-size: 18px;
    line-height: 1.2;
}
@media (max-width:500px){
    h1{
        font-size: 40px;
        letter-spacing: -2px;
    }
    h2{
        font-size: 32px;
        letter-spacing: -1.5px;
    }
    h3{
        font-size: 24px;
        letter-spacing: -1px;
        margin-bottom:10px;
    }

}

/* Header styles */
header {

    .container{
        display: flex;
        height:100px;
        justify-content: space-between;
        align-items: center;

        .header-logo{
            flex:1;
        }

        nav{
            .nav-links{
                li{
                    display: inline-block;
                    margin-left: 30px;
                    a{
                        @include linkText();
                        &.cta-button{
                            color:white;
                        }
                    }
                }
            }
            @media screen and (max-width: 750px) {
                .nav-links {
                    display: block; /* Initially hide navigation links on mobile */
                    position: absolute; /* Position the dropdown */
                    top: -390px; /* Position it below the header */
                    left: 0;
                    transition: all 0.5s;
                    width: 100%; /* Full width of the viewport */
                    background-color: white; /* Background color for the dropdown */
                    z-index: 1000; /* Ensure it appears above other elements */
                    padding:20px 0;

                    &.active{
                        display: block; /* Display navigation links as dropdown when active */
                        top: 100px; /* Position it below the header */
                        transition: all 0.5s;
                    }

                    li{
                        display: block; /* Display each link as a block element */
                        text-align: left; /* Center-align the links */
                        padding: 20px 0; /* Add padding for better spacing */
                        margin:0 5%;
                        border-top:1px solid #bfbfbf;

                        &:last-child{
                            border:none;
                        }

                        a{
                            color: $primaryColor; /* Text color for the links */
                            text-decoration: none; /* Remove underline */
                            transition: color 0.3s; /* Smooth color transition on hover */

                            &:hover {
                                color: lighten($primaryColor, 15%); /* Change color on hover */
                            }

                            &.cta-button{
                                width:100%;
                            }
                        }
                    }
                }
            
            }
            @media screen and (max-width: 500px) {
                .nav-links {
                    &.active{
                        top: 70px; /* Position it below the header */
                    }
                }
            }
        }

        .hamburger-menu {
            display: none; /* Initially hide the hamburger menu */
            cursor: pointer;

            .hamburger-icon {
                width: 30px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .stripe {
                    width: 100%;
                    height: 3px;
                    background-color: $primaryColor;
                }
            }
        }

        @media screen and (max-width: 750px) {
            .hamburger-menu {
                display: block; /* Show hamburger menu on mobile */
            }
        }
    }

    @media (max-width:500px){
        .container{
            display: flex;
            height:70px;
        }
    }

}



/* Hero section styles */
#home {
    @include sectionSpacing();
    background:$primaryColor;

    .slider {

        @keyframes fadeOut {
            0% { opacity: 1; }
            70% { opacity: 0; }
        }
        .slide{
            height:500px;
            background:$primaryColor;
            align-items: center;
            display: none; /* Hide all slides by default */
            animation: fadeOut 15s;
            .text{
                width:50%;
                color:$textColor;
                padding-right:50px;
                h1 {
                    color:white;
                    margin-bottom:15px;
                }
                p.lead {
                    margin-bottom:30px;
                }
            }
            .photo{
                width:50%;
                height:100%;
                img {
                    width:100%;
                    height:100%;
                    object-fit: cover;
                }
            }
            @keyframes fadeIn {
                0% { opacity: 0; }
                30% { opacity: 1; }
            }
            &.active{
                display:flex; /* Display active slide */
                animation: fadeIn 15s;
            }
            @media (max-width:750px){
                .text{
                    width:65%;
                    padding-right:5%;
                }
                .photo{
                    width:35%;
                }
            }
            @media (max-width:1200px){
                .text{
                    padding-left:calc(10% / 2);
                }
            }
            @media (min-width:1201px){
                .text{
                    padding-left:calc((100% - 1140px) / 2);
                }
            }
            @media (min-width:1401px){
                .text{
                    padding-left:calc((100% - 1320px) / 2);
                }
            }
        }
        @media (max-width:500px){
            .slide{
                &.active{
                    display:flex;
                    flex-direction: column; /* Display active slide */
                }
                height:auto;
                .text{
                    width:100%;
                    padding-top:40px;
                    padding-bottom:60px;
                    background:$primaryColor;
                    z-index: 1;
                    position:relative;
                    border-radius:0 40px 0 0 ;
                    order:2;
                }
                .photo{
                    width:100%;
                    img{
                        margin-bottom:-40px;
                        height:200px;
                    }
                    order:1;
                }
            }
        }
    }
}

/* Services section styles */
#services {
    @include sectionSpacing();

    .services{
        display:flex;
        gap:$generalGap;

        .service{
            @include thumbnail();
        }

    }
    @media (max-width:750px){
        .services{
            flex-direction: column;
            gap:20px;
        }

    }

}

/* Portfolio section styles */
#portfolio {
    @include sectionSpacing();
    width:850px;
    margin-left:auto;
    margin-right:auto;

    .portfolio{
        display:flex;
        gap:$generalGap;

        .portfolio-item{
            display:block;
            @include thumbnail();
            width: 50%;
            text-decoration: none;
            color:$textColor;
            img{
                width:100%;
                margin-bottom:30px;
            }
        }

    }

    .view-all{
            text-align: center;
        a{
            @include linkText();
            display:inline-block;
            margin-top:40px;
        }
    }

    @media(max-width:500px){
        .portfolio{
            flex-direction: column;
            gap:20px;
    
            .portfolio-item{
                width: 100%;
                img{
                    margin-bottom:20px;
                }
            }
    
        }

        .view-all{
            a{
                margin-top:20px;
                margin-bottom:30px;
            }
        }
    }
}
@media (max-width:850px){
    #portfolio {
        width:100%;

    }
}

/* Testimonials */
#testimonials {
    @include sectionSpacing();

    .testimonial{
        display:flex;
        gap:$generalGap;

        .testimonial-item{
            @include thumbnail();

            .testi-header{
                display:flex;
                margin-bottom:20px;
                align-items: center;

                .testi-photo{
                    width:50px;
                    height:50px;
                    border-radius:50%;
                    overflow: hidden;
                    margin-right:20px;
                    
                    img{
                        width:100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                cite{
                    font-style:normal;
                    .name{
                        @include linkText();
                    }
                }
            }

            .testi-body{
                color:$primaryColor;
            }
        }
            

    }

    @media (max-width:750px){
        .testimonial{
            flex-direction: column;
            gap:20px;
        }

    }

}

/* Contact section styles */
#contact{
    background:$primaryColor;
    padding:120px 0;

    .container{
        display:flex;
        align-items: center;

        .contact-info{
            color:white;

            .section-heading{
                margin-bottom:20px;

                h2{
                    color:white;
                }
            }

            .contact-list{
                display:flex;
                flex-flow: row wrap;
                .contact-item{
                    width:50%;
                    margin-bottom:20px;
                    strong{
                        display:block;
                        color:$textColor;
                        font-weight: bold;
                        margin-bottom:10px;
                    }
                    .socials li{
                        display:inline-block;
                        margin-right:20px;
                    }
                }
            }
        }
        .contact-form{
            @include thumbnail();
            width:60%;

            .form-group{
                margin-bottom:20px;

                label{
                    display:block;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    color:$primaryColor;
                    margin-bottom:10px;
                }

                input, textarea{
                    width:100%;
                    border:none;
                    border-radius:10px;
                    background:white;
                    padding:12px 18px;
                    color:$primaryColor;
                    font-size: 16px;

                    &::placeholder{
                        color:#bfbfbf;
                    }
                }

                .cta-button{
                    width:100%;
                    padding:15px;
                    cursor:pointer;
                }
            }
        }
    }

    @media (max-width:750px){
        .container{
    
            .contact-info{
                width:35%;
                .contact-list{
                    .contact-item{
                        width:100%;
                    }
                }
            }
            .contact-form{
                width:65%;
            }
        }
    }

    @media (max-width:500px){
        .container{
            flex-direction: column;
            gap:20px;
            .contact-info{
                width:100%;
                .contact-list{
                    .contact-item{
                        width:50%;
                    }
                }
            }
            .contact-form{
                width:100%;
            }
        }
    }

}
@media (max-width:500px){
    #contact{
        padding:60px 0;
    }
}

/* Footer styles */
footer{
    display:flex;
    height:200px;
    align-items: center;
    text-align: center;
}
@media (max-width:500px){
    footer{
        height:100px;
    }
}